Debug/
Release/
html/
DepencyPacks/
Trailer/
Games/
LF2GameData/
MagicSnakeData/
Code/Solution/Tizen/Lightfield2/data/
Code/Solution/Tizen/UnitTest/data/
.history/
*.pdom
*.index
*.tmp
*.log
*.exp
*.ilk
*.exe
*.pdb
*.tlog
*.obj
*.zip
*.idb
*.user
*.sdf
*.suo
*.o
*.d
*.mk
*.a
*.snap
*.running
*.markers
*.prefs
*.markers
*.history
*.cs
*.opensdf
*.tree
*.bat